.first-screen {
  background-image: url("/assets/images/first-screen__bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 137px;
  padding-bottom: 282px;
  &__title-wrapper {
    display: flex;
    justify-content: center;
  }
  &__title {
    color: #333333;
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 120px;
  }
  &__sub-title-callback {
    width: 50%;
    margin-left: 50%;
    padding-left: 50px;
  }
  &__sub-title {
    padding-top: 58px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #262626;
  }
  &__callback {
    margin-top: 29px;
  }
}



.owner-screen {
  padding-bottom: 74px;
  background: #262626;

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 80px 290px 60px 160px;
  }

  &__title-group {
  }

  &__title {
    font-family: Russo One;
    font-size: 64px;
    color: #FEEE67;
  }

  &__name {
    padding-top: 80px;
    font-family: Russo One;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
  }

  &__projects {
    margin-top: 70px;
    font-size: 40px;
    color: #F9FDFE;

    &-item {
    }
  }

  &__photo {
    flex: 0 0 446px;
    width: 446px;
    padding-top: 50px;

    img {
      max-width: 100%;
    }
  }

  &__experience {
    display: flex;
    justify-content: space-between;
    padding: 30px 220px 60px;

    &-item {
      padding: 0 20px;
      font-family: Russo One;
      color: #F9FDFE;

      &-years {
        margin-right: 5px;
        font-size: 64px;
        line-height: 26px;

        .owner-screen__experience-item:nth-child(1) & {
          color: #DFB2F4;
        }
        .owner-screen__experience-item:nth-child(2) & {
          color: #FEEE67;
        }
        .owner-screen__experience-item:nth-child(3) & {
          color: #45C0A4;
        }
      }

      &-actions {
        font-family: Roboto;
        font-size: 22px;
        line-height: 26px;
      }
    }
  }

  &__technologies {
    padding: 15px 0px;
    border-top: 2px solid #F9FDFE;
    border-bottom: 2px solid #F9FDFE;
    font-family: Manrope;
    font-size: 24px;
    letter-spacing: 0.12em;
    color: #F9FDFE;
  }

}



.faq-screen {
  display: flex;
  padding: 90px 0;

  &__title {
    padding-left: 157px;
    flex: 1 1 auto;
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 1.2;
    color: #DFB2F4;
  }

  &__questions {
    flex: 0 0 1040px;

    &-item {
      border-top: 3px solid #262626;

      &:last-child {
        border-bottom: 3px solid #262626;
      }

      &_open {
        background-color: #262626;
      }

      &-title {
        position: relative;
        padding: 35px 150px 35px 80px;
        font-family: Russo One;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 39px;
        color: #262626;
        cursor: pointer;

        .faq-screen__questions-item_open & {
          color: #DFB2F4;
        }

        button {
          position: absolute;
          display: block;
          right: 100px;
          top: 50%;
          margin-top: -15px;
          width: 31px;
          height: 31px;
          border: 0;
          background-color: transparent;
          font-size: 0;
          color: transparent;
          cursor: pointer;

          &::before,
          &::after {
            position: absolute;
            content: '';
            display: block;
            background-color: #262626;
            transition: transform .3s;

            .faq-screen__questions-item_open & {
              background-color: #fff;
            }
          }
          &::before {
            top: 14px;
            left: 0;
            width: 100%;
            height: 3px;

            .faq-screen__questions-item_open & {
              transform: rotate(45deg);
            }
          }
          &::after {
            top: 0;
            left: 14px;
            width: 3px;
            height: 100%;

            .faq-screen__questions-item_open & {
              transform: rotate(45deg);
            }
          }
        }
      }

      &-text {
        display: none;
        width: 730px;
        max-width: 100%;
        color: #fff;
        padding: 10px 80px 65px;
        font-size: 22px;
        line-height: 1.5;

        p {
          margin-bottom: 30px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .faq-screen__questions-item_open & {
          display: block;
        }
      }
    }
  }
}



.reviews {
  padding-top: 95px;
  padding-bottom: 85px;
  background-color: #FEEE67;

  &__title {
    padding-left: 160px;
    padding-right: 30px;
    font-family: Russo One;
    font-size: 64px;
    color: #262626;
  }
}



.payment {
  padding-top: 90px;
  padding-bottom: 110px;

  &__title {
    padding-left: 160px;
    padding-right: 30px;
    font-family: Russo One;
    font-size: 64px;
    color: #45C0A4;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: 200px;
    padding-top: 85px;

    &-item {
      padding: 10px 20px;

      &-title {
        font-family: Russo One;
        font-size: 32px;
        color: #262626;

        &::ng-deep {
          span {
            color: #45C0A4;
          }
        }
      }

      &-text {
        padding-top: 15px;
        font-family: Roboto;

        &-inner {
          flex: 0 0 50%;
        }

        &-button {
          flex: 0 0 50%;
          text-align: right;
        }

        &_with-button {
          display: flex;
          align-items: center;
        }
      }

      &_materials {
        flex: 0 0 350px;
      }

      &_employment {
        flex: 0 0 450px;
      }
    }
  }
}



.consultation {
  padding: 90px 320px 80px 160px;
  background-color: #DFB2F4;

  &__title {
    padding-right: 30px;
    font-family: Russo One;
    font-size: 64px;
    color: #262626;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
  }

  &__text {
    font-size: 26px;
    padding-right: 30px;
  }

  &__form {
    flex: 0 0 480px;
    width: 480px;

    &-input {
      padding-bottom: 20px;

      label {
        display: block;
        padding-bottom: 10px;
      }
    }

    &-button {
      padding-top: 10px;

      .button {
        width: 100%;
      }
    }
  }
}
