<app-header></app-header>
<div class="home">



  <div class="first-screen">
    <div class="first-screen__title-wrapper">
      <div class="first-screen__title" [innerHTML]="'home.firstScreen.title' | translate:locale.language">

      </div>
    </div>
    <div class="first-screen__sub-title-callback">
      <div
        class="first-screen__sub-title"
        [innerHTML]="'home.firstScreen.subTitle' | translate:locale.language"
      ></div>
      <div class="first-screen__callback">
        <app-callback-button></app-callback-button>
      </div>
    </div>
  </div>



  <div class="owner-screen">

    <div class="owner-screen__content">
      <div class="owner-screen__title-group">
        <div class="owner-screen__title">{{'home.owner.title' | translate:locale.language}}</div>
        <div class="owner-screen__name">{{'home.owner.name' | translate:locale.language}}</div>
        <div
          class="owner-screen__projects"
          *ngIf="ownerProjects"
        >
          <div
            class="owner-screen__projects-item"
            *ngFor="let project of ownerProjects"
          >{{project}}</div>
        </div>
      </div>

      <div class="owner-screen__photo">
        <img src="/assets/images/owner.jpg">
      </div>

    </div>


    <div class="owner-screen__experience">
      <div
        class="owner-screen__experience-item"
        *ngFor="let exp of ownerExperience"
      >
        <span class="owner-screen__experience-item-years">{{exp.years}}</span>
        <span class="owner-screen__experience-item-actions" [innerHTML]="exp.actions"></span>
      </div>
    </div>
    <div class="owner-screen__technologies">
      Spring, Spring-Boot, NodeJS, CSS, JavaScript,
      Express, Angular, React, GIT, Java, Jenkins, Docker,
      SQL, MongoDB, RabbitMQ, Kafka, Hazelcast, MySql, Redis,
      Togglz, AWS
    </div>



  </div>



  <div class="faq-screen">

    <div class="faq-screen__title">{{'home.faq.title' | translate:locale.language}}</div>

    <div class="faq-screen__questions">
      <div
        class="faq-screen__questions-item"
        *ngFor="let question of questions; let i = index"
        [ngClass]="{'faq-screen__questions-item_open': question?.isOpen}"
        (click)="toggleQuestion(i)"
      >
        <div class="faq-screen__questions-item-title">
          <span>{{question.title}}</span>
          <button>+</button>
        </div>
        <div class="faq-screen__questions-item-text" [innerHTML]="question.text"></div>
      </div>
    </div>

  </div>



  <div class="reviews">
    <div class="reviews__title">{{'home.reviews.title' | translate:locale.language}}</div>
  </div>



  <div class="payment">

    <div class="payment__title">{{'home.payment.title' | translate:locale.language}}</div>

    <div class="payment__content">

      <div class="payment__content-item payment__content-item_materials">
        <div
          class="payment__content-item-title"
          [innerHTML]="'home.payment.materials.title' | translate:locale.language"
        ></div>
        <div
          class="payment__content-item-text"
          [innerHTML]="'home.payment.materials.text' | translate:locale.language"
        ></div>
      </div>
      <div class="payment__content-item payment__content-item_employment">
        <div
          class="payment__content-item-title"
          [innerHTML]="'home.payment.employment.title' | translate:locale.language"
        ></div>
        <div
          class="payment__content-item-text"
          [innerHTML]="'home.payment.employment.text' | translate:locale.language"
        ></div>
      </div>
      <div class="payment__content-item">
        <div
          class="payment__content-item-title"
          [innerHTML]="'home.payment.cost.title' | translate:locale.language"
        ></div>
        <div class="payment__content-item-text payment__content-item-text_with-button">
          <div
            class="payment__content-item-text-inner"
            [innerHTML]="'home.payment.cost.text' | translate:locale.language"
          ><span></span></div>
          <div class="payment__content-item-text-button">
            <button class="button">{{'home.payment.cost.button' | translate:locale.language}}</button>
          </div>
        </div>
      </div>

    </div>

  </div>



  <div class="consultation">
    <div class="consultation__title">{{'home.consultation.title' | translate:locale.language}}</div>
    <div class="consultation__content">
      <div
        class="consultation__text"
        [innerHTML]="'home.consultation.text' | translate:locale.language"
      ></div>
      <div class="consultation__form">
        <form [formGroup]="consultationForm" (submit)="submitConsultationForm()">
          <div class="consultation__form-input">
            <label
              for="consultation-name"
            >{{'home.consultation.form.name.label' | translate:locale.language}}</label>
            <input
              formControlName="name"
              id="consultation-name"
              type="text"
              class="input"
            >
          </div>
          <div class="consultation__form-input">
            <label
              for="consultation-phone"
            >{{'home.consultation.form.phone.label' | translate:locale.language}}</label>
            <input
              formControlName="phone"
              id="consultation-phone"
              type="text"
              class="input"
            >
          </div>
          <div class="consultation__form-input">
            <label
              for="consultation-email"
            >{{'home.consultation.form.email.label' | translate:locale.language}}</label>
            <input
              formControlName="email"
              id="consultation-email"
              type="text"
              class="input"
            >
          </div>
          <div class="consultation__form-input">
            <label
              for="consultation-specialty"
            >{{'home.consultation.form.specialty.label' | translate:locale.language}}</label>
            <ng-select
              formControlName="specialty"
              id="consultation-specialty"
              class="select"
              [items]="specialtyOptions"
              bindLabel="name"
              bindValue="id"
            ></ng-select>
<!--            <input-->
<!--              id="consultation-specialty"-->
<!--              type="text"-->
<!--              class="input"-->
<!--            >-->
          </div>
          <div class="consultation__form-button">
            <button
              class="button"
            >{{'home.consultation.form.submit' | translate:locale.language}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>



</div>


<app-footer></app-footer>
